#contenedor{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  header{
    background-color: rgb(98, 131, 47);
    width: auto;
    height: 25%;
    color: white;
  }
  
  table {
      width: 100%;
      border-collapse: collapse;
      border-radius: 2%;
      border: 2px solid;
      background-color: rgb(255, 250, 244);
    }
    
    th, td {
      border: 1px solid rgb(46, 92, 39);
      padding: 8px;
      text-align: left;
      border: 2px solid;
      background-color: rgb(255, 250, 244);
    }
    
    th {
      background-color: rgb(127, 160, 81);
    }
    
    img {
        width:100px;
        cursor: pointer;
    }